.footer
    background-color: #34495e



.comments
    display: flex
    padding: 120px


.comments-flex1
    display: flex
    justify-content: space-between


.comments-flex2
    display: flex
    justify-content: space-between

.comments__avatar-wrap
    padding: 10px 15px

.comments__settings
    display: flex
    justify-content: center
    align-items: center
    

.comments__settings2
    padding: 5px 10px