.header
    background: #fff


.top 
    background: #34495e
    padding: 10px 0


.address
    background: #2c3e50


.address__container
    text-decoration: none
    font-style: normal
    display: flex
    justify-content: space-between
    align-items: center

.address-info
    display: flex
    justify-content: space-between

.address__name
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 10px
    color: #fff
    text-decoration: none
    cursor: pointer

.address__phone
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 10px
    color: #fff
    text-decoration: none
    cursor: pointer

.address__email
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 10px
    color: #fff
    text-decoration: none

.top__icons
    padding: 0 10px
    cursor: pointer


.search__fields
    width: 365px
    border-radius: 40px
    background: #34495e
    border: none
    padding: 5px


.search__btn
    margin-left: -35px
    vertical-align: middle
    cursor: pointer