//middle-cards//

.middle
    background: url(../img/stars-bg.png)
    background-color: #34495e
    background-position-x: 450px
    background-position-y: 300px


.middle__cards
    padding-top: 160px 

.cards__container
    padding-bottom: 115px
    display: flex
    justify-content: space-between
    border-bottom: 1px solid  #758594
    font-family: 'Open Sans'


.card__title
    color: #ffffff
    font-size: 18px
    line-height: 1
    font-weight: bold



.card__text
    color: #758594
    line-height: 1.857
    font-size: 14px

    
.middle-content__container
    padding-top: 115px
    font-family: 'Open Sans'


.middle-content__title
    color: #ffffff
    font-size: 30px
    line-height: 1.2
    font-weight: bold


.middle-content__subtitle
    color: #ffffff
    font-size: 22px
    line-height: 1.2
    font-style: italic


.middle-content__text
    color: #758594
    line-height: 1.857
    font-size: 14px


.middle-moon__container
    padding: 40px 0 115px 0
    display: flex


.middle-moon__subtitle
    color: #ffffff
    font-size: 22px
    line-height: 1.2
    font-style: italic
    

.middle-moon__text
    color: #758594
    line-height: 2
    font-size: 14px