.video
    background-color: #34495e
    

.video__title
    margin: 0
    text-align: center
    font-size: 28px
    font-family: 'VarelaRound'
    color: #ffffff
    padding: 125px 0 40px 0


.video__content
    display: flex
    justify-content: space-between
    margin: 0 auto
    padding: 30px 0 100px

    @media screen and ( max-width: 1150px)
        flex-direction: column
        


.video__block
    border: 1px solid #ffffff
    max-width: 265px
    margin: 0 auto
   
        

.video__block-li
    padding: 20px 15px
    font-size: 14px
    font-family: "OpenSans" 
    color: rgb(255, 255, 255)
    font-style: italic 
    line-height: 1.857
    text-align: left


.video__block-vid
    border: 1px solid #ffffff
    padding: 15px
    margin: 0 auto
    @media screen and ( max-width: 1150px)
        margin: 50px auto
    @media screen and ( max-width: 570px)
        display: none


.video__block-vid-mobile
    display: none
    

    @media screen and ( max-width: 570px)
        display: block
        border: 1px solid #ffffff
        padding: 15px
        margin: 0 auto
        margin: 50px auto

.video__block-vid-mobile-2
    display: none

    @media screen and ( max-width: 370px)
        display: block
        border: 1px solid #ffffff
        padding: 15px
        margin: 0 auto
        margin: 50px auto
        .video__block-vid-mobile
            display: none

.video-line
    background: repeating-linear-gradient(to right, #fed37f 0px, #fed37f 95px,#fff 95px, #fff 100px,#85d6de 100px, #85d6de 195px,#fff 195px,#fff 200px,#fe8f8c 200px,#fe8f8c 295px,#fff 295px,#fff 300px,#fed37f 300px,#fed37f 395px)
    height: 4px