doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title App landing
    link(rel='stylesheet' href='css/main.css')
  body
    .wrapper
      include includes/header
      include includes/middle
      include includes/planets
      include includes/video
      include includes/footer
    script
      include ../js/hamburgers.js